@page "/AddBranch"
@attribute [Authorize(Policy = "SecurityLevel2")]

@using Sep3.Models
@using Sep3.HttpServices

@inject IBranchService BranchService
@inject NavigationManager NavigationManager
<h3>AddBranch</h3>

<EditForm Model="@newBranchItem" OnValidSubmit="@AddNewBranch">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">Branch theme: <br/> <InputText @bind-value="newBranchItem.theme"/></div>
    <div class="form-group"> Location:<br/> <InputText @bind-Value="newBranchItem.city"/></div>
    <div class="form-group"> Branch id:<br/> <InputNumber @bind-Value="newBranchItem.id"/></div>
    
    <h5>Menu items:</h5>
      <div class="form-group"> Meal 1: <br/><InputText @bind-value="item1.name"/></div>
        <div class="form-group"> Meal 1 price: <br/><InputText @bind-value="item1.price"/></div>
        <div class="form-group"> Meal 2: <br/><InputText @bind-value="item2.name"/></div>
        <div class="form-group"> Meal 2 price: <br/><InputText @bind-value="item1.price"/></div>
        <div class="form-group"> Meal 3: <br/><InputText @bind-value="item3.name"/></div>
        <div class="form-group"> Meal 3 price: <br/><InputText @bind-value="item1.price"/></div>
    
    <h3 class="actions">
        <button class="btn btn-outline-dark" type="submit">Create</button>
    </h3>
    
</EditForm>

@code {
    private Branch newBranchItem = new Branch();

    private Meal item1;
    private Meal item2;
    private Meal item3;
    
    private async Task AddNewBranch()
    {
        newBranchItem.menu.Add(item1);
        newBranchItem.menu.Add(item2);
        newBranchItem.menu.Add(item3);

        await BranchService.AddBranchAsync(newBranchItem);
        NavigationManager.NavigateTo("/Branches");
    }
}
