@page "/AddFood/{id}"
@using Sep3.HttpServices
@using Sep3.Models
@inject IBranchService BranchService
@inject NavigationManager NavigationManager
<h3>Add Food</h3>
<div class="form-group"> Food name/ description:<br/> <input type="text" @bind-value="food.foodName"/></div>
<div class="form-group"> Price: <br/> <input type="number" @bind-value="food.foodPrice"/></div>

<h3 class="actions">
    <button class="btn btn-outline-dark" @onclick=@AddNewFood type="button">Add</button>
</h3>
@code {
    [Parameter]
    public string id { get; set; }
    
    private Food food = new Food();
    private Branch branch = new Branch();

    private int branchId ;
    protected override void OnParametersSet()
    {
        branchId = Int16.Parse(id);
    }

    private async Task AddNewFood()
    {
        
        branch = await BranchService.GetBranchByIdAsync(branchId);

        food.branch = branch;
        await BranchService.AddFoodToBranchAsync(food);
        NavigationManager.NavigateTo("/Branches");
    }

}