@page "/Basket"
@using Sep3.Models
@using Sep3.HttpServices
<h3>Basket</h3>

@inject IBranchService BranchService
@inject NavigationManager NavigationManager

@if (newOrder== null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Meal name </th>
            <th>Price </th>
        </tr>
        </thead>
    </table>
    }


<button @onclick="@(() => PlaceAnOrder())">
  <i class="oi oi-plus" style="color:green"/> Order now
</button>



@code {
    public OrderFood newOrder = new OrderFood();
    public string response;

    protected override async void OnInitialized()
    {
       //newOrder = await BranchService.GetOrderAsync();
    }

    public void PlaceAnOrder()
    {
        response= "Your order is confirmed";
    }

}