@page "/Menues/{id:int}"
@using Sep3.Models
@using Sep3.HttpServices

@inject IBranchService BranchService
@inject NavigationManager NavigationManager
@inject Basket Basket

<h3>Menues</h3>

@if (menu.items == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!menu.items.Any())
{
    <p>
        <em>No meals exist in the menu. Please add some.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Meal name</th>
            <th>Price</th>
            <th>Add To Basket</th>
        </tr>
        </thead>
    </table>
    }

<tbody>
@foreach (var item in menu.items)
{
    <tr>
        <td>@item.name</td>
        <td>@item.price</td>
        <td>
            <button @onclick="@(() => AddToBasket())">
               <i class="oi oi-plus" style="color:green"/>
            </button>
        </td>
    </tr>
}
</tbody>

@code {
    private Menu menu;

    protected override async Task OnInitializedAsync()
    {
        //menu = await BranchService.GetMenuByNameAsync();
    }

    private void AddToBasket()
    {
        Basket.mealsForOrder.Add(menu.items.IndexOf());
    }
}