# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SEP Client.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Constantin Mihail\RiderProjects\SEP Client\.idea\.idea.SEP Client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
